li {
  list-style-type: none;
  cursor: pointer;
  padding: 5px;
  display: inline;
  font-weight: 400;
  font-size: 14px;
}

ul {
  padding: 0;
  list-style-type: none;
  transform: text-decoration .5s, font-weight .5s;
}

li > a:hover{
  font-weight: 600;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Montserrat' !important;
  overflow-x: hidden;
  
}

button {
  
  font-family: 'Montserrat' !important;
}